<footer class="footer py-2 bg-dark text-center">
  <div class="container">
    <img class="footer-logo" src="/logo-biogas.png" alt="Logo BioGas" >
    <p class="mb-1">© 2024. Todos los derechos reservados.</p>
    <p class="footer-text">Página creada por estudiantes de 2do año de la Tecnicatura en Desarrollo de Software del Instituto Superior Dr. Bernardo Houssay.</p>
    <p>
      <a routerLink="aceptar-terminos">Términos y Condiciones</a> |
      <a href="#">Política de Privacidad</a> |
      <a href="#">Contacto</a>
    </p>
  </div>
</footer>

