body {
    background-image: url("/assets/image/con_lamparita.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Abril Fatface', sans-serif;
}

