/* HERO */
.modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Hace que el modal esté centrado verticalmente */
  }

  .modal-content {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2); /* Sombra para darle más profundidad */
    width: 100%;
    max-width: 600px; /* Ajusta el tamaño del modal */
  }

  .modal-header h5 {
    font-family: 'Arial', sans-serif;
    font-size: 2rem;
    color: #fff;
  }

  .modal-body {
    font-family: 'Arial', sans-serif;
    color: #fff;
  }

  .form-control {
    background: rgba(255, 255, 255, 0.3);
    border: none;
    color: #fff;
    margin-bottom: 10px; /* Espacio debajo del campo de texto */
  }

  .form-control::placeholder {
    color: #037128;
  }

  .form-control:focus {
    box-shadow: none;
    border: 1px solid #28a745;
  }

  .btn-primary {
    background-color: #28a745;
    border-color: #28a745;
    font-size: 1.1rem;
    margin-top: 20px; /* Añade un margen superior para separar el botón */
  }

  .alert-danger {
    background-color: rgba(255, 0, 0, 0.5); /* Ajusta el color del mensaje de error */
    color: #fff;
  }

  /* Ajuste del modal para pantallas pequeñas */
  @media (max-width: 768px) {
    .modal-content {
      padding: 20px;
      max-width: 90%; /* Ajusta el modal para pantallas pequeñas */
      min-width: 300px;
    }
  }

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
  }

  .about-us-container {
    max-width: 1200px; /* Se aumenta el ancho máximo */
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff9a;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }

  .about-us-content, .team-section, .values-section {
    margin-bottom: 30px;
  }


  /* Estilos del equipo */
  .team-section h2 {
    margin-bottom: 20px;
  }

  .team-members {
    display: flex;
    flex-wrap: wrap; /* Ahora los elementos se ajustarán en varias filas */
    justify-content: space-between;
  }

  .team-member {
    text-align: center;
    flex-basis: 30%; /* Cada miembro del equipo ocupa el 30% del ancho */
    margin-bottom: 30px; /* Espacio entre filas */
  }

  .team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  .team-member h3 {
    font-size: 20px;
    color: #333;
  }

  .team-member p {
    font-size: 16px;
    color: #777;
  }

  /* Estilos de los valores */
  .values-section ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
  }

  .values-section ul li {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    font-size: 18px;
  }

  /* Botón de volver */
  .back-button {
    text-align: center;
    margin-top: 20px;
  }

  .back-button button {
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }

  .back-button button:hover {
    background-color: #c82333;
  }




/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

