body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column; /* Cambiar a dirección de columna para organizar el contenido */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative; /* Permite el posicionamiento relativo del navbar */
}

.login-form {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    max-width: 400px;
    box-sizing: border-box;
    margin-bottom: auto; /* Permitir que el formulario suba al centro */
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 1rem;
    margin-bottom: 5px;
}

.terms-checkbox {
    display: flex;
    align-items: center;
}

.terms-checkbox input[type="checkbox"] {
    margin-right: 10px;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-top: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

/* Estilos para el navbar */
.navbar {
    position: absolute; /* Cambiar a posición absoluta para que se mantenga en la parte inferior */
    bottom: 0; /* Alinear al fondo */
    width: 100%; /* Ancho completo */
    background-color: #343a40; /* Color de fondo del navbar */
    padding: 10px 0; /* Espaciado superior e inferior */
    color: white; /* Color de texto */
    text-align: center; /* Alinear el texto al centro */
}

/* Estilos para los enlaces del navbar */
.navbar a {
    color: #ffffff; /* Color del texto */
    font-weight: bold;
    margin: 0 1rem; /* Margen entre enlaces */
    text-decoration: none; /* Sin subrayado */
}

.navbar a:hover {
    text-decoration: underline; /* Subrayado al pasar el mouse */
}

@media (max-width: 390px) {
    .login-form {
        padding: 15px;
    }
    label {
        font-size: 0.9rem;
    }
    .btn {
        padding: 10px;
        font-size: 0.9rem;
    }
}









  

