/* General Styles */
body { 
    margin: 0;
    line-height: normal;
}

/* Container */
.quienessomos {
    width: 100%;
    position: relative;
    box-shadow: 0px 0px 6px 6px #486427 inset;
    height: 2159px;
    overflow: hidden;
    text-align: left;
    font-size: 16px;
    color: #000;
    font-family: 'Abril Fatface';
    background-image: url("/assets/image/con_lamparita.jpeg"); /* Nueva ruta */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Overlay Effect */
.quienessomos-overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Color oscuro con transparencia para superposición */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Header Section */
.quienes-somos {
    position: absolute;
    top: calc(50% - 1054.5px);
    left: calc(50% - 132.5px);
    font-size: 32px;
    line-height: 140%;
    color: #fff;
}

/* Reseña Histórica Section */
.resea-historica-del {
    position: absolute;
    top: 178px;
    left: 338px;
    font-size: 32px;
    line-height: 140%;
    width: 938px;
    color: #fff; /* Texto en blanco para contraste */
}

.text {
    position: absolute;
    top: 380px;
    left: 289px;
    font-size: 32px;
    line-height: 36px;
    font-family: Roboto;
    text-align: center;
    color: #fff;
}

/* Description Text */
.fue-fundado-gracias {
    position: absolute;
    top: 275px;
    left: 74px;
    font-family: Inter;
    color: #f0f0f0; /* Texto en gris claro */
    width: 1416px;
    height: 54px;
}

/* Timeline Section */
.inicio-1986-container {
    position: absolute;
    top: 378px;
    left: calc(50% - 660.5px);
    font-family: Roboto;
    color: #f0f0f0;
    text-align: center;
    width: 1169px;
    height: 190px;
}

/* Carreras Offered Section */
.carreras-que-se {
    position: absolute;
    top: 588px;
    left: 1025px;
    font-size: 24px;
    line-height: 140%;
    white-space: pre-wrap;
    width: 472px;
    color: #f0f0f0;
}

/* Specific Classes for "Tecnicatura Superior en..." and others */
.tecnicatura-superior-en,
.tecnicatura-superior-en1,
.tecnicatura-superior-en2,
.tecnicatura-superior-en3,
.tecnicatura-superior-en4,
.profesorado-en-educacin,
.profesorado-en-educacin1 {
    position: absolute;
    font-weight: 500;
    font-family: Inter;
    text-align: center;
    color: #f0f0f0;
}

.tecnicatura-superior-en { top: 765px; left: 1008px; width: 388px; }
.tecnicatura-superior-en1 { top: 722px; left: 888px; width: 602px; }
.tecnicatura-superior-en2 { top: 806px; left: 993px; width: 449px; }
.tecnicatura-superior-en3 { top: 849px; left: 964px; width: 467px; }
.tecnicatura-superior-en4 { top: 891px; left: 1001px; width: 398px; }
.profesorado-en-educacin { top: 666px; left: 970px; width: 505px; }
.profesorado-en-educacin1 { top: 936px; left: 969px; width: 543px; }

/* Other sections, if needed */


